<?xml version="1.0" encoding="utf-8" ?>
<environments version="2.0">

  <environment name="QA" category="Production">
	<!-- use relative paths -->
    <source
      drop="Packages"
      settingsFile="Config\Settings.xml"
      log="Logs"/>
    <server name="SVR007">
      <role name="WEB" deployToDB="true"/>
    </server>
    <server name="SVR008">
      <role name="WEB"/>
    </server>
    <server name="SVR009">
      <role name="BIZTALK" deployToDB="true"/>
    </server>
    <server name="SVR010">
      <role name="BIZTALK"/>
    </server>
    <server name="SVR011">
      <role name="BIZTALK"/>
      <role name="Portal"/>
    </server>
    <server name="SVR012">
      <role name="BIZTALK"/>
      <role name="Portal" deployToDB="true"/>
    </server>
    <server name="CLU001">
      <role name="SQL"/>
    </server>
    <server name="CLU002">
      <role name="MQSERIES"/>
    </server>
  </environment>

  <environment name="TEST" category="Test">
	<!-- use absolute paths, to pick from build server -->
    <source
      drop="\\build\Drops\Main_Latest"
      settingsFile="\\build\Drops\Main_Latest\Settings.xml"
      log="\\build\Deploy\Logs"
      />
    <server name="BIZTALK01">
      <role name="WEB" deployToDB="true"/>
      <role name="Portal" deployToDB="true"/>
      <role name="BIZTALK"/>
    </server>
    <server name="BIZTALK02">
      <role name="BIZTALK" deployToDB="true"/>
    </server>
  </environment>

  <!-- developer workstation -->
  <environment name="LOCAL" category="Development">
    <source
      drop="\\build\Drops\Main_Latest"
      settingsFile="\\build\Drops\Main_Latest\Settings.xml"
      log="C:\Temp"/>
	<!-- wildcard for workstation name -->
    <server name="*">
      <role name="WEB" deployToDB="true"/>
      <role name="Portal" deployToDB="true"/>
      <role name="BIZTALK" deployToDB="true"/>
    </server>
  </environment>



  <environmentCategories>
    <category name="Development">
      <execute name="CheckBREDeploy" order="FarmInitialize" roleRequired="BIZTALK" />
      <execute name="TerminateAllServiceInstances" order="FarmInitialize" roleRequired="BIZTALK" />
      <execute name="StopRunningApplications" order="FarmInitialize" roleRequired="BIZTALK" />
      <execute name="BounceServices" order="ServerFinalize" roleRequired="BIZTALK" />
      <execute name="LimitHostInstances" order="FarmFinalize" roleRequired="BIZTALK" />
      <execute name="StartRunningApplications" order="FarmFinalize" roleRequired="BIZTALK" />
    </category>
    <category name="Test">
      <execute name="CheckBREDeploy" order="FarmInitialize" roleRequired="BIZTALK" />      
      <execute name="TerminateAllServiceInstances" order="FarmInitialize" roleRequired="BIZTALK" />
      <execute name="StopRunningApplications" order="FarmInitialize" roleRequired="BIZTALK" />
      <execute name="BounceServices" order="ServerFinalize" roleRequired="BIZTALK" />
      <execute name="LimitHostInstances" order="FarmFinalize" roleRequired="BIZTALK" />
      <execute name="StartRunningApplications" order="FarmFinalize" roleRequired="BIZTALK" />
      <execute name="UpdateDeploymentStatus" order="ServerFinalize" roleRequired="BIZTALK" />
    </category>
    <category name="Production">
      <execute name="CheckBREDeploy" order="FarmInitialize" roleRequired="BIZTALK" />
      <execute name="StopRunningApplications" order="FarmInitialize" roleRequired="BIZTALK" />
      <execute name="BounceServices" order="ServerFinalize" roleRequired="BIZTALK" />
      <execute name="StartRunningApplications" order="FarmFinalize" roleRequired="BIZTALK" />
      <execute name="UpdateDeploymentStatus" order="ServerFinalize" roleRequired="BIZTALK" />
    </category>
    <category name="NoActions" />
  </environmentCategories>



  <roles>

    <role name="WEB">
      <package name="WEBapp" version="1.0.*.*">
        <type>MSI_PS</type>
      </package>
    </role>

    <role name="BIZTALK">
      
      <host name="SampleReceivingHost" >
        <handles receive="true" send="false" adapter="MQSeries" />
      </host>
      <host name="SampleSendingHost" >
        <handles receive="false" send="true" adapter="MQSeries" />
      </host>
      <host name="SampleProcessingHost" />
      <host name="SampleTrackingHost" isTracking="true" />
      <host name="SampleMessaging32Host" is32bit="true" >
        <handles receive="true" send="true" adapter="SQL" />
      </host>
      
      <package name="Core" version="1.0.*.*" file="Sample.Core" >
        <type>BTDF</type>
      </package>
      <package name="AnApp" version="1.0.*.*" file="Sample.AnApp" >
        <type>BTDF</type>
      </package>
      <package name="AnotherApp" version="1.0.*.*" file="Sample.AnotherApp" >
        <type>BTDF</type>
      </package>
    </role>

    <role name="Portal">
      <package name="ESB.Portal" version="1.0.*.*" file="ESB.Portal">
        <type>MSI_PS</type>
      </package>
    </role>

    <role name="SQL">
      <!-- nothing to deploy -->
    </role>

    <role name="MQSERIES">
      <!-- nothing to deploy -->
    </role>

  </roles>


    
	<configuration>
		<BizTalk>
			<ApplicationsPattern>Sample.</ApplicationsPattern>
			<ApplicationsRoot>Sample.Core</ApplicationsRoot>
			<Rules Version="1.0" />
		</BizTalk>
		<GAC>
			<Pattern>Sample*</Pattern>
			<Pattern>Customer*</Pattern>
		</GAC>
		<Installer>
			<Pattern>Sample*</Pattern>
			<Pattern>Customer Sample*</Pattern>
			<Pattern>ESB.Portal*</Pattern>
		</Installer>
		<CentralMonitor
			Url="http://drops.example.com/">
			<Credentials
				Domain="DOMAIN"
				User="usr"
				Password="pwd" />
		</CentralMonitor>
	</configuration>



</environments>
